body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 10px;
}

.card {
    flex: 1 1 100%;
    background: lightgreen;
    padding: 20px;
    text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
    .card {
        flex: 1 1 48%;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .card {
        flex: 1 1 30%;
    }
}